body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1 {
    background-color: antiquewhite;
   
    text-align: center;
    margin: 0;
    padding: 30px 0;
    box-shadow: 10px 10px 10px black;
}
.A1 {
    size: 20px;
    margin: 0;
    padding: 0;
    border: none;
    color: black
}
.A2 {
    size: 20px;
    margin-top: 40px;
    padding: 0;
    border: none;
    color: blue;
}
.card_container {
    height: 320px;
    width: 250px;
    top: 50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
}