body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1 {
    background-color: rgb(215, 212, 207);
    color: rgb(49, 34, 34);
    text-align: center;
    margin: 0;
    padding: 30px 0;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
}

.card {
    display: flex;
    flex-direction: column;

    color: grey:
}
.container {
    height: 80px:
}
.card__cover {
    height: 70px;
    width: 50%;
    background-color: black;
    align-items: center;
    margin: auto;
}

.card__content {
    flex-wrap: wrap;
    background-color:black; 
    height: 50px;
    width: 50%;
    align-items: center;
    margin: auto;
}
button {
    display: flex;
    align-items: flex-end;
    color: aqua;
    align-content: 
}